<footer id="footer" class="footer dark-background">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-12 col-lg-6 col-md-6 footer-about">
                    <a href="/" class="logo d-flex align-items-center">
                        <img src="/images/logos/logo_square_white.png" alt="Kevin's Logo">
                        <span class="sitename">Kevin</span>
                    </a>
                    <div class="footer-contact pt-3">
                        <p>You can contact me through my socials linked below, or via the <a href="Contact">contact
                                form</a>.</p>
                    </div>
                    <div class="social-links d-flex mt-4">
                        <a href="https://www.linkedin.com/in/ksbecker/" target="_blank">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="https://github.com/ksbecker" target="_blank"><i class="bi bi-github"></i></a>
                    </div>
                </div>

                <div class="col-6 col-lg-6 col-md-3 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/Resume"> Resume</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/AboutMe"> About Me</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/Contact"> Contact Me</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/AboutThisSite"> About This Site</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container text-center">
            <p>
                © <span>Copyright @DateTime.Now.Year</span> <strong class="px-1 sitename">Kevin Becker</strong> <span>
                    All Rights Reserved
                </span>
            </p>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Designed by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
            </div>
        </div>
    </div>
</footer>