<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="images/logos/logo_square_white.png" alt="Kevin's Logo">
            <h1 class="sitename">Kevin</h1>
            <span>.</span>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><NavLink Match="NavLinkMatch.All" href="/">Home<br></NavLink></li>
                <li><NavLink Match="NavLinkMatch.All" href="/Resume">Resume</NavLink></li>
                <li class="dropdown">
                    <NavLink Match="NavLinkMatch.Prefix" href="/AboutMe"><span>About Me</span> <i
                            class="bi bi-chevron-down toggle-dropdown"></i></NavLink>
                    <ul>
                        <li><NavLink Match="NavLinkMatch.All" href="/AboutMe#about-me">About Me</NavLink></li>
                        <li><NavLink Match="NavLinkMatch.All" href="/AboutMe#hobbies">Hobbies</NavLink></li>
                        <li><NavLink Match="NavLinkMatch.All" href="/AboutMe#fun-facts">Fun Facts</NavLink></li>
                    </ul>
                </li>
                <li><NavLink Match="NavLinkMatch.All" href="/Contact">Contact Me</NavLink></li>
                <li><NavLink Match="NavLinkMatch.All" href="/AboutThisSite">About This Site</NavLink></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="index.html#about">Get Started</a>

    </div>
</header>