@inherits LayoutComponentBase

@using BlazorPageScript

@inject IAnalytics Analytics

<PageScript Src="./js/init.js" />

<Header />

<main class="main">
    @Body
</main>

<Footer />

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override void OnInitialized()
    {
        var userId = $"userid{DateTime.Now.Ticks}";

        var globalConfigData = new Dictionary<string, object>();
        globalConfigData["user_id"] = userId;

        var globalEventData = new Dictionary<string, object>();
        globalEventData["user_id"] = userId;

        Analytics.ConfigureGlobalConfigData(globalConfigData);
        Analytics.ConfigureGlobalEventData(globalEventData);
    }
}