<section class="section dark-background page-header">
    <div class="container section-title mt-5" data-aos="fade-up">
        <h2>@Title</h2>
        <p>@Subtitle</p>
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public string Title { get; set; } = default!;

    [Parameter, EditorRequired]
    public string Subtitle { get; set; } = default!;
}