@page "/AboutMe"

<PageTitle>About Me - Kevin Becker</PageTitle>

<section class="section dark-background">
    <div class="container section-title mt-5" data-aos="fade-up">
        <h2>About Me</h2>
        <p>My interests and hobbies</p>
    </div>
</section>

<!-- About Section -->
<section id="about-me" class="section about">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="/images/about-me.jpg" class="img-fluid" alt="Kevin sitting outside with a MacBook Pro laptop">
            </div>
            <div class="col-lg-6 order-2 order-lg-1 content">
                <h3>About Me</h3>
                <p>
                    Most importantly, I'm a Christian. I'm a husband, father of 3, and a software developer. I've lived
                    in the Charlotte, NC area since I was 5 years old. We currently live in Concord, NC. We have 6 pets,
                    including 2 dogs and 4 cats (all male, see <a href="/AboutMe/#fun-facts">fun facts</a>).
                </p>
                <p>
                    I enjoy being outdoors, especially riding my bicycle. I like fishing and camping, but also enjoy
                    spending time with my family cooking and baking. I'm a fan of the <a
                        href="https://www.panthers.com/" target="_blank">Carolina Panthers</a>.
                </p>
                <p>
                    I've been programming since I was 8 years old. Professionally, I've been a developer for over 20
                    years and have worked in a variety of industries including real estate, journalism, and senior
                    living. I've worked with a variety of technologies including .NET, MSSQL, and JavaScript. Most of my
                    experience is in web development, but I've also worked on Windows desktop and iOS mobile
                    applications.
                </p>
                <p>
                    If you're in the area, you should consider coming to church with us. We are members of <a
                        href="https://www.pbckannapolis.org/" target="_blank">Piedmont Baptist Church</a>. I help out
                    with the sound system. My wife helps out in the <a href="https://www.awana.org/"
                        target="_blank">Awana</a> program.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /About Section -->

<!-- Hobbies Section -->
<section id="hobbies" class="section about features">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            <div class="col-lg-6 order-1">
                <img src="/images/about-me-bicycle.jpg" class="img-fluid"
                     alt="Kevin's orange Fuji Roubaix 3.0 road bike after a thorough cleaning">
            </div>
            <div class="col-lg-6 order-2 content">
                <h3>Hobbies</h3>
                <div class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <i class="bi bi-bicycle flex-shrink-0"></i>
                    <div>
                        <h4>Riding My Bicycle</h4>
                        <p>One of my favorite things to do is ride my bicycle. I've ridden thousands of miles and love
                            being out in nature. Check out my activities on <a
                                href="https://www.strava.com/athletes/8913973" target="_blank">Strava</a>.</p>
                    </div>
                </div>

                <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-cookie flex-shrink-0"></i>
                    <div>
                        <h4>Cooking and Baking</h4>
                        <p>I love making food. I don't make a lot of things, but the things I make are really good. Some
                            of my favorite things to make are fresh pasta, homemade tortillas, and blueberry muffins.
                        </p>
                    </div>
                </div>

                <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="400">
                    <i class="bi bi-person-hearts flex-shrink-0"></i>
                    <div>
                        <h4>My Family</h4>
                        <p>Spending time with them is never a waste. I have a wife and three children with a 13-year gap
                            between the oldest and youngest.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /Hobbies Section -->

<!-- Fun Facts Section -->
<section id="fun-facts" class="section about">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="/images/about-me-rubiks-cube.jpg" class="img-fluid"
                    alt="Kevin sitting outside with his laptop">
            </div>
            <div class="col-lg-6 order-2 order-lg-1 content">
                <h3>Fun Facts</h3>
                <p class="fst-italic">
                    &ldquo;I could tell you an interesting fact to get you nodding, Like how carpets were first made in
                    the
                    hopes that all of the world&rsquo;s grass would one day be replaced by carpets, or, as they
                    called them,
                    &lsquo;comfy grass.&rsquo;&rdquo; - Bo Burnham; Egghead: Or, You Can't Survive on Ideas Alone
                </p>
                <ul>
                    <li><i class="bi bi-check2-all"></i> <span>Can solve a 3x3 <a
                                href="https://en.wikipedia.org/wiki/Rubik%27s_Cube" target="_blank">Rubik's Cube</a> and
                            <a href="https://en.wikipedia.org/wiki/Rubik%27s_Magic" target="_blank">Rubik's
                                Magic</a></span>
                    </li>
                    <li><i class="bi bi-check2-all"></i> <span>Started programming on a <a
                                href="https://en.wikipedia.org/wiki/Commodore_64" target="_blank>">Commodore 64</a> in
                            the 1980s</span>
                    </li>
                    <li><i class="bi bi-check2-all"></i> <span>Rode my bicycle <a
                                href="https://www.strava.com/activities/4302452962/overview" target="_blank">100km in
                                around 4 hours</a></span>
                    </li>
                    <li><i class="bi bi-check2-all"></i> <span>Drive a standard transmission Alien Green Kia Soul</span>
                    </li>
                    <li><i class="bi bi-check2-all"></i> <span>I'm only allergic to female cats - we currently have 4
                            male cats and no allergies</span>
                    </li>
                </ul>
                <p>

                </p>
            </div>
        </div>
    </div>
</section>
<!-- /Fun Facts Section -->
