@page "/AboutThisSite"

<PageTitle>About This Website</PageTitle>

<PageHeader Title="About This Site" Subtitle="Learn what went into building this website" />

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h2>Why I Built This Site</h2>
                <p>
                    I built this site to showcase my skills as a .NET web developer. I wanted to create a site that was
                    visually appealing, easy to navigate, and responsive on all devices. I also wanted to create a site
                    that was easy to update and maintain, so I decided to build it using Blazor Server.
                </p>
            </div>
            <div class="col-lg-6" data-aos="fade-up">
                <h2>How I Built This Site</h2>
                <p>
                    I built this site using Blazor Server, a web framework from Microsoft that allows you to build
                    interactive web applications using C# and .NET. It is being hosted on Google Cloud Run in a Docker
                    container. The source code is hosted on <a href="https://github.com/ksbecker/kevinandnell.com"
                        target="_blank">GitHub</a>, and I used Visual Studio Code for development.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- 

Practices used:
Clean code
SOLID principles
Dependency injection
Unit testing
Error handling
Interfaces
Vertical slicing architecture
DRY - Don't Repeat Yourself
TDD - Test Driven Development

Logging? - where can I log with ILogger?

Libraries used:
MailKit
QuestPDF


Design by BootstrapMade
Modified JS from design to work with Blazor

All photos are by Kevin Becker
 -->