@page "/Resume"

<PageTitle>Resume</PageTitle>

<PageHeader Title="Resume" Subtitle="Check out my resume" />

<section id="service-details" class="service-details section">

    <div class="container">

        <div class="row gy-5">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

                <div class="service-box">
                    <h4>Download Resume</h4>
                    <div class="download-catalog">
                        <a href="/Resume.pdf"><i class="bi bi-filetype-pdf"></i><span>Resume PDF</span></a>
                        <a href="/Resume.docx"><i class="bi bi-file-earmark-word"></i><span>Resume Word Doc</span></a>
                    </div>
                </div><!-- End Services List -->
            </div>

            <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
                <img src="/images/resume-soul.jpg" alt="" class="img-fluid services-img">
            </div>

        </div>

    </div>

</section><!-- /Service Details Section -->