@page "/"

@inherits BasePage

<PageTitle>It's me, Kevin!</PageTitle>

<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="images/hero-bg-2.jpg" alt="" data-aos="fade-in">

    <div class="container">
        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-xl-6 col-lg-8">
                <h2>A nerd before being a nerd was cool<span>.</span></h2>
                <p>Computer programer and digital solutions expert</p>
            </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="300">
                <a href="/Resume">
                    <div class="icon-box">
                        <i class="bi bi-file-earmark-text"></i>
                        <h3>Resume</h3>
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="400">
                <a href="/AboutMe">
                    <div class="icon-box">
                        <i class="bi bi-person-arms-up"></i>
                        <h3>About Me</h3>
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="500">
                <a href="/Contact">
                    <div class="icon-box">
                        <i class="bi bi-person-rolodex"></i>
                        <h3>Contact Me</h3>
                    </div>
                </a>
            </div>
            <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="600">
                <a href="/AboutThisSite">
                    <div class="icon-box">
                        <i class="bi bi-cloud"></i>
                        <h3>About This Site</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>
<!-- /Hero Section -->