@page "/Resume"

@inherits BasePage

<PageTitle>Resume</PageTitle>

<section class="section dark-background">
    <div class="container section-title mt-5" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Check out my resume builder</p>
    </div>
</section>
<section class="section">
    <p>Resume page</p>
</section>

@code {
}